Repository luxonis/modelconverter, pull requests merged in 2024-11, with the labels that each got.

#48 Added dai_type, updated encoding flags, and removed reverse_input_channels flag
  README.md
  modelconverter/__main__.py
  modelconverter/packages/hailo/exporter.py
  modelconverter/packages/rvc2/exporter.py
  modelconverter/utils/config.py
  modelconverter/utils/nn_archive.py
  modelconverter/utils/onnx_tools.py
  modelconverter/utils/types.py
  requirements.txt
  shared_with_container/configs/defaults.yaml
  tests/test_utils/test_config.py
Labels: enhancement, fix, tests, NN Archive

#49 fixed incorrect docker image name
  modelconverter/utils/docker_utils.py
Labels: fix, CLI

#51 v0.3.1
  modelconverter/__init__.py
Labels: release

#47 Online Conversion
  modelconverter/__init__.py
  modelconverter/__main__.py
  modelconverter/cli/__init__.py
  modelconverter/cli/types.py
  modelconverter/cli/utils.py
  modelconverter/hub/__init__.py
  modelconverter/hub/__main__.py
  modelconverter/hub/hub_requests.py
  modelconverter/utils/__init__.py
  modelconverter/utils/environ.py
  modelconverter/utils/layout.py
Labels: enhancement, CLI
