Repository luxonis/modelconverter, pull requests merged in 2024-12, with the labels that each got.

#54 Add link to the examples
  README.md
Labels: documentation

#58 Removed `is_owner`
  modelconverter/cli/types.py
  modelconverter/hub/__main__.py
Labels: CLI

#59 Fix RCV2 mean and scale values
  modelconverter/packages/rvc2/exporter.py
  modelconverter/utils/config.py
Labels: fix, RVC2

#61 Fix online conversion to FP32 and FP16
  modelconverter/hub/__main__.py
Labels: fix
