Repository luxonis/modelconverter, pull requests merged in 2024-09, with the labels that each got.

#32 Updated Libraries and Dockerfiles
  .github/workflows/publish.yaml
  README.md
  docker/bases/Dockerfile.base
  docker/rvc2/Dockerfile
  docker/rvc2/Dockerfile.public
  docker/rvc3/Dockerfile
  docker/rvc3/Dockerfile.public
  docker/rvc4/Dockerfile
  docker/rvc4/Dockerfile.public
  docker/scripts/install_openssl.sh
  shared_with_container/configs/defaults.yaml
  shared_with_container/configs/multistage.yaml
  shared_with_container/configs/resnet18_IR.yaml
  tests/test_utils/test_config.py
Labels: enhancement

#31 Layout Fixes
  modelconverter/packages/rvc4/exporter.py
  modelconverter/utils/onnx_tools.py
Labels: fix, RVC4

#33 Fix the mean and std values in the config
  shared_with_container/configs/defaults.yaml
Labels: documentation, fix

#36 CODEOWNERS
  .github/CODEOWNERS
Labels: DevOps

#35 Fix Public Dockerfiles
  docker/bases/Dockerfile.base-hailo
  docker/hailo/Dockerfile.public
  docker/rvc4/Dockerfile
  modelconverter/utils/docker_utils.py
Labels: fix

#34 Latest Tag for GAR
  .github/workflows/publish.yaml
Labels: DevOps
